header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

/*** Stylesheet Mon Blog 2018 ***/

html, body {
    height: 100%;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/open-sans/OpenSans-Light.ttf");
}

body {
    color: #082d3e;
    background: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-height: 100%;
}

.navbar-light .navbar-brand {
  color: #beac7a;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(190, 172, 122, 1);
}

.fixed-top {
  background-color: rgba(10, 12, 11, 0.9);
}

header.masthead .page-heading, header.masthead .site-heading a:hover {
  text-decoration: none;
}

article a:hover {
  text-decoration: none;
}

h1 {
    color: #082d3e;
}

h2 {
    color: #082d3e;
}

time {
  color: #746d4b;
  font-size: 0.7em;
}

.postTitle {
    margin-bottom : 0px;
}

.readmore {
  color: #beac7a;
  font-size: 0.8em;
  margin-left: 15px;
}

#blogTitle {
    text-align: center;
    color: #c0bec1;
}

.comment p {
  margin-bottom: 5px;
}

#decoLink {
    color: #bfbfbf;
}


#blogFooter .btn {
  margin-right: 5px;
}

#blogFooter {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: 20px;
}

/** Connection **/

.text-center {
  justify-content: space-around;
  margin-top: 15px;
}

.container {
  align-content: space-between;
  min-height: 90%;
}

/** Admin **/

.admin-editpost {
display: block;
width: 100%;
margin-top: 8px;
padding: .375rem .75rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.admin-editpost h2 {
  color: #000;
}

.admin-editpost time {
  color: #555;
}